.customRow{
    font-size: 11pt;
    padding-top:1em
}
.card{
    border-radius: 35px;
    margin:auto 0;
    padding: 25px;
    background-color: #343A40;
    border:2px solid #DC3545;
}
hr{
    border: 5px solid #DC3545;
    border-radius: 10%;
}
