<nav id="brandSideBarMenu" class=" bg-dark sidebar text-center text-light">
  <div class="position-sticky pt-0">
    <h1 routerLink="/cars"
        (click)="clearCurrentBrand()"> BRANDS </h1> 
        <div class="mb-3 px-2">          
          <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search brands">
        </div>
    <hr>
    <ul class="nav flex-column">
      <li *ngFor="let brand of brands | brandFilter:filterText" 
          (click)=setCurrentBrand(brand);  
          class="nav-item"
          routerLink = "/cars/brand/{{brand.brandId}}">
        <span [class]="getCurrentBrandClass(brand)" aria-current="page" href="#" >
          {{brand.brandName}}
        </span>
      </li>        
    </ul>
  </div>
</nav>
