<div class="container">
  <div class="row my-5">
    <div class="col-md-9">
      <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            *ngFor="let image of images; let i = index"
            [ngClass]="getSliderClassName(i)"
          >
            <img
              height="400"
              src="{{ basePath }}/{{ image.imagePath }}"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#imageCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#imageCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3><b>Details</b></h3>
        </div>
        <table class="table">
          <tbody            
            class="table-secondary align-self-center border border-dark"
            scope="row"
          >
            <tr>              
              <td> <b>Brand :</b> {{ car.brandName }}</td>
            </tr>
            <tr>              
              <td> <b>Model :</b>  {{ car.description }}</td>
            </tr>
            <tr>
              <td> <b>Color :</b>  {{ car.colorName }}</td>
            </tr>
            <tr>
              <td> <b>Model Year :</b>  {{ car.modelYear }}</td>
            </tr>
            <tr>
              <td> <b>Daily Price :</b>  {{ car.dailyPrice | currency: "₺" }}</td>
            </tr>
            
          </tbody>
          
        </table>
        <button
          class="btn btn-dark py-3 my-2 button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)=rentOnClick()>
          Rent
        </button>
        <app-rental></app-rental>  
        <button
        class="btn btn-dark py-3 my-2 button"
        routerLink="/cars/update/{{car.carId}}"
        (click)=toastrMessage()
        >
        Update
      </button>
      </div>
    </div>
  </div>
</div>
