<div class="content">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header bg-dark text-white"><h5 class="title">Update Brand</h5></div>
            <div class="card-body">
                <form [formGroup]="colorUpdateForm">
                    <div class="form-group">
                        <input type="text" 
                        id="colorName" 
                        formControlName="colorName"
                        class="form-control"
                        placeholder="{{color.colorName}}"/>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-dark">
                <button class="btn btn-fill btn-warning" (click)="update()">Update</button>
            </div>
        </div>
    </div>
</div>