<div class="content">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header bg-dark text-white"><h5 class="title">Add Car</h5></div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="form-group">

                        <div class="mb-3">
                            <input type="number" 
                            id="brandId" 
                            formControlName="brandId"
                            class="form-control"
                            placeholder="Brand ID"/>
                        </div>
                        
                        <div class="mb-3">
                            <input type="number" 
                            id="colorId" 
                            formControlName="colorId"
                            class="form-control"
                            placeholder="Color ID"/>
                        </div>

                        <div class="mb-3">
                            <input type="number" 
                            id="modelYear" 
                            formControlName="modelYear"
                            class="form-control"
                            placeholder="Model Year"/>
                        </div>

                        <div class="mb-3">
                            <input type="number" 
                            id="dailyPrice" 
                            formControlName="dailyPrice"
                            class="form-control"
                            placeholder="Daily Price"/>  
                        </div>
    
                        <div class="mb-3">
                            <input type="text" 
                            id="descriptions" 
                            formControlName="descriptions"
                            class="form-control"
                            placeholder="Model"/>   
                        </div>        

                    </div>
                </form>
            </div>
            <div class="card-footer bg-dark">
                <button class="btn btn-fill btn-warning" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>