.card{
  width: 40%;  
  height: 180px;  
  border-radius: 3%;
  border: 4px solid rgb(49, 37, 37);
  background-color: #fafafa63;
}
.card-title{
  font-size: 13pt;
}
#cgroup{
  display: flex;
  flex-wrap:wrap;
}
li{
  list-style-type: none;
}

img{
 margin-left: 3px; 
 margin-top: 3px;
 height: 85px;
 width: 150px;
 border-radius: 10%;
 border: 2px solid rgb(99, 98, 98);
}
#cbody{
  padding: 5px 0;
  font-size: 8pt;
  font-weight: bolder;  
}
.card:hover{
  cursor: pointer;
}