<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Date Selection</h5>
        <button
          type="button"
          class="close btn-danger"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <div class="row mb-5">
          <div class="col">
            <label for="rent">Rent Date</label>
            <input
              id="rentDate"
              type="date"
              class="form-control"
              [(ngModel)]="rentDate"
              [min]="initialDate(1)"              
            />
          </div>
          <div class="col">
            <label for="return">Return Date</label>
            <input
              id="returnDate"
              type="date"
              class="form-control"
              [(ngModel)]="returnDate"
              [min]="initialDate(2)"
              (ngModelChange)="calculateTotalAmount()"
              
            />
          </div>
        </div>
        <h1  style="font-size: 2em">Rental Summary</h1>
        <div class="row ">
          <div class="col-6">
            <label for="brand" class="col-form-label"> Brand: </label>
            <div>
              <input
                id="brand"
                type="text"
                readonly
                class="form-control"
                [value]="chosenCar.brandName"
              />
            </div>
          </div>
          <div class="col-6">
            <label for="model" class="col-form-label"> Model: </label>
            <div>
              <input
                id="model"
                type="text"
                readonly
                class="form-control"
                [value]="chosenCar.description"
              />
            </div>
          </div>
        </div>
        <div class="mb row">
          <div class="col-6">
            <label for="color" class="col-form-label"> Color:</label>
            <div>
              <input
                id="color"
                type="text"
                readonly
                class="form-control"
                [value]="chosenCar.colorName"
              />
            </div>
          </div>
          <div class="col-6">
            <label for="modelYear" class="col-form-label"> Model Year:</label>
            <div>
              <input
                id="modelYear"
                type="text"
                readonly
                class="form-control"
                [value]="chosenCar.modelYear"
              />
            </div>
          </div>
        </div>

        <div class="mb row">
          <div class="col-6">
            <label for="dailyPrice" class="col-form-label">
              Daily Price:
            </label>
            <div>
              <input
                id="daiyPrice"
                type="text"
                readonly
                class="form-control"
                [value]="chosenCar.dailyPrice | currency: '₺'"
              />
            </div>
          </div>
          <div class="col-6">
            <label for="totalAmount" class="col-form-label">
              Total Price:
            </label>
            <div>
              <input
                id="totalAmount"
                type="text"
                readonly
                class="form-control"                
                [value]="amount | currency: '₺' "
              />
            </div>
          </div>
        </div>


      </div>

      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">
          Return
        </button>
        <button
          (click)="goToPayment()"
          type="button"
          class="btn btn-warning px-4"
          data-bs-dismiss="modal"
          id="rent"
        >
          Rent
        </button>
      </div>
    </div>
  </div>
</div>
