<div class="content">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header bg-dark text-white"><h5 class="title">Add Brand</h5></div>
            <div class="card-body">
                <form [formGroup]="brandAddForm">
                    <div class="form-group">
                        <input type="text" 
                        id="brandName" 
                        formControlName="brandName"
                        class="form-control"
                        placeholder="Brand Name"/>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-dark">
                <button class="btn btn-fill btn-warning" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>