<nav id="colorSideBarMenu" class="bg-dark sidebar text-center text-light">
  <div class="position-sticky pt-0">
    <h1 routerLink="/cars" (click)="clearCurrentColor()">COLORS</h1>
    <div class="mb-3 px-2">
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Search colors"
      />
    </div>
    <hr />
    <ul class="nav flex-column">
      <li
        *ngFor="let color of colors | colorFilter: filterText"
        class="nav-item"
      >
        <div class="row mx-3">
          <div
            class="col-md-9 mb-1"
            style="border-radius: 5%"
            routerLink="/cars/color/{{ color.colorId }}"
          >
            <span
              [class]="getCurrentColorClass(color)"
              aria-current="page"
              href="#"
              (click)="setCurrentColor(color)"
            >
              {{ color.colorName }}
            </span>
          </div>
          <div class="col-md-2">
            <button
              class="btn-sm btn-warning text-sm"
              routerLink="/colors/update/{{ color.colorId }}"
            >
              Update
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <button
          class="btn-sm btn-warning text-sm my-2 mx-1 px-5"
          routerLink="/colors/add"
        >
          Add a New Color
        </button>
      </div>
    </div>
  </div>
</nav>
