<div class="container py-5">
  <div class="row justify-content-center py-5">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header h4 mb-4 border-danger text-center text-danger">Have an account?</div>
        <form [formGroup]="signInForm" >
          <div class="my-3">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="E-mail"
              required
            />
          </div>
          <div class="form-group mb-5">
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control"
              placeholder="Password"
              required
            />
            <span toggle="#password-field"></span>
          </div>
          <div class="form-group">
            <button id="login" class="w-100 btn btn-warning px-3" (click)="signIn()" >Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>