<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 col-lg-5">
        <div class="card bg-dark m-n1 form-control h-100">
          <div class="login-wrap p-3">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form [formGroup]="loginForm" class="signin-form">
              <div class="form-group">
                <input
                  formControlName="email"
                  type="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="E-mail"
                  required
                />
              </div>
              <div class="form-group mb-5">
                <input
                  formControlName="password"
                  id="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <span toggle="#password-field"></span>
              </div>
              <div class="form-group">
                <button class="w-100 btn btn-warning px-3" (click)="signIn()" >Sign In</button>
              </div>
            </form>
            <p class="w-100 text-center btn btn-danger">
              &mdash; Or Sign Up &mdash;
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
