.card{
    border-radius: 35px;
    margin:auto 0;
    padding: 25px;
    background-color: #343A40;
    border:2px solid #DC3545;
}
#login:hover{
    background-color: red;
    border: 5px solid white;
    font-weight: bolder;
}